memorisdk>=0.1.0
litellm>=1.0.0
python-dotenv>=1.0.0
python-multipart
plotly>=5.17.0
pandas>=2.0.0

openai>=1.0.0
requests>=2.31.0
sqlalchemy

langgraph 
langchain-core
langchain-openai
langchain-postgres
langchain-text-splitters
sqlalchemy 
psycopg[binary]
psycopg2-binary

langchain-google-genai 
langchain-huggingface 
sentence_transformers
google-generativeai

fastapi
uvicorn

pydantic-settings